/*your CSS code here*/
/* <div> class ='heading'>FELIX KIBET RONO </div> */
.heading {
    font-size: 30px;
    font-family: "Nosifer";
    color:#ee19dc;
    font-weight:bold;
    letter-spacing:5px;
    text-align: center;
}
.intro {
    align-content: center;
    text-align: center;
    color: #0972d3;
    background-color: #f7e32f;
}
.headTitle{
    font-size:30px;
    font-family:georgian, "Times New Roman", Aerial;
    color: blue;
    font-family: "Nosifer";
    text-align:center;
    text-decoration:underline;
}
.data{
    color:Blue;
    font-weight:900;
    font-family: fantasy;
}
.body{
    font-family:calibri;
}
.address{
    color:blue;
    vertical-align: right;
}
.data{
    text-decoration:blink;
}
.jobdesc{
    text-indent: 60px;
    text-transform:uppercase;
    /*word-spacing:15px;*/
    white-space:nowrap;
}
.subheading{
    width:150px;
    height:100px;
    background-color:lightblue;
    float: left;
    overflow:scroll;
}
.clearing{
    clear: both;
}