/*your CSS code here*/
/* <div> class ='heading'>FELIX KIBET RONO </div> */
.heading {
    font-size: 30px;
    font-family: "Nosifer";
}
.intro {
    align-content: center;
    text-align: center;
    color: hsl(120, 92%, 49%);
    background-color: #2F5A78;
}


/*coverpage {
    padding:10px;
    border-color: 5px solid red;
}*/
div.heading{
    color:red;
    font-family:"Times New Roman";
    font-size:1.875em;
    font-weight:bold;
    letter-spacing:5px;
    text-align: center;
}

.headTitle{
    font-size:30px;
    font-family:georgian, "Times New Roman", Aerial;
    color: blue;
    text-align:center;
    text-decoration:underline;
}
.data{
    color:Blue;
    font-weight:900;
    font-family: fantasy;
}
.body{
    font-family:calibri;
}
.address{
    color:blue;
    vertical-align: right;
}
.data{
    text-decoration:blink;
}
.jobdesc{
    text-indent: 60px;
    text-transform:uppercase;
    /*word-spacing:15px;*/
    white-space:nowrap;
}